.chiste1{
    background-color: rgb(113, 175, 226);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.chiste1 p {
    padding-bottom: 20px;
    margin: 0 500px;
}

img{
    width: 500px;
}
.atras{
    width: 50px;
}